ul{
    display: flex;
    list-style: none;
    padding: 8px;
    justify-content: space-between;
}
li{
    display: inline-block;
    float: right;
    }
 .about h4{
    margin-top: -3px;
 }
 .header{
    font-size: larger;
    font-weight: lighter;
 }
 .image{
   margin-left: 1%;
   width: 300px;
   height:200px;
 }
 .image1{
   width: 800px;
   height: 400px;
   margin-right: 20%;
 }
 .small{
   justify-content: space-between;
   display: flex;
 }
 .button1{
   color:white;
   padding: 10px 10px;
   margin: 10px 300px 0px 0px;
   background-color: black;
 }
 .big-image{
   margin-right: 50%;
   width: 700px;
   height: 300px;
 }
 .chairs{
   margin-left: 40%;
   display: flex;
   justify-content: space-between;
   padding-right: 20%;
   margin-top: 10%;
    }
    .royals{
      width: 300px;
      height:220px;
      padding-left:-150%;
       margin-left: -60%;
    }
    .office{
      width:300px;
      height: 220px;
      padding-left: -80%;
      
    }
    .heads{
      display: flex;
      margin-left: 10%;
    }
    .groups{
      display: flex;
    background-color: antiquewhite;
    justify-content: space-between;
}
.one, .two, .three{
  border: 2px;
  justify-content: space-between;
  padding: 50px 20px;
  margin: 20px 20px;
}

.bulbs{
  margin-top: 10%;
  display: flex;
  margin-left:120%;
  width: 400px;
  height: 300px;
}
.background{
  display: flex;
  
}
.dock{
  min-height: min-content;
  width:300px;
  margin-top: 40%;
  margin-left: 5%;
}
.docks{
  min-height: min-content;
  width: 300px;
  margin-top: 40%;
  margin-left:20%;
}
#header{font-size: 40px;

}

.button{color: white;
  background-color: black;
  padding:5px

}
.heading{
  margin-top:10%;
  text-align: center;
  font-size: 30px;
}
.pricelist{
  background-color:whitesmoke;
  display: flex;
  justify-content: space-between;
}
.lawson{
  width: 300px;
  height: 200px;
  padding: 5%;
}
.caldwell{
  width: 300px;
  height: 200px;
  padding: 5%;
}
.shell{
  width: 300px;
  height: 200px;
  padding: 5%;
}
.title{
  text-align: center;
  font-size: 30px;
}
.sofas{
  display: flex;
  justify-content: space-between;
}
.sofa1{width: 400px;
  height: 220px;
}
.sofa2{
  width: 500px;
  height: 300px;
  margin-right:20% ;
}
.sofas2{display: flex;
  justify-content: space-between;
}
.sofa3{
  width: 500px;
  height: 300px;
}
.sofa4{
  width: 400px;
  height: 320px;
  margin-right: 20%;
}

.back{
  margin-top:12%;
  display: flex;
  margin-left:-100%;
  width:500px;
  height: 300px;
  
}
.tables{
  margin-top: 8%;
  display: flex;
  justify-content: space-between;
}
.subscribe{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 22%;
    margin-top: -30%;
    margin-bottom:500px; 
}
.subscribe p{
    font-size: 200%;
}
.footerr{
    width: 60%;
    margin-left: 10%;
    margin-right: -20%;
    padding: 20px 20px;
}  
.footer-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-div li{
  display:inline-block;
  list-style-type: none;
}  
.button2{
  margin-left: 38%;
  color: white;
  background-color: black;
}
.input{
  padding:24px;
}
.sub-button{
  margin-left: -12%;
  padding: 10px;
  background-color:black;
  color: white;
}
body{
  background-color: bisque;
}

